<div class="bg_white band" style="padding-top:100px;">
	<div class="row">
		<div class="large-2 columns">
			<img src="/assets/bioinformatician.svg" type="image/svg+xml" width="100%"/><br/><br/>
			<img src="/assets/codemonkey.svg" type="image/svg+xml" width="100%"/>
		</div>
		<div class="large-2 columns">
			<img src="/assets/ubermaker.svg" type="image/svg+xml" width="100%"/><br/><br/>
			<img src="/assets/buynow.svg" type="image/svg+xml" width="100%"/>
		</div>
		<div class="large-5 columns">
			<h1>#AnthonyNeedsAJob</h1>
			<p>Anthony will soon start on an adventure in an exciting startup, but in the mean time, he has no real source of income.</p>
			<p>Since Anthony can not sit on his hands, he is now looking for partners to tackle exciting technical problems together, for a few days, a few weeks or longer.</p>
		</div>
		<div class="large-3 columns">
			<img src="/assets/head.svg" type="image/svg+xml" width="100%" style="padding-top:50px;"/>
		</div>
	</div>
</div>